@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.header__title {
  font-size: 3em;
  margin-bottom: 0;
}

.header__description {
  margin-top: 0;
}

.tasks {
  margin-top: 2em;
}

.tasks__list {
  padding: 0;
  list-style: none;
}

.tasks__item {
  margin-top: .6em;
}

.task__p {
  display: inline
}

.btn {
  background: none;
  border: 1px solid black;
}

.btn--remove {
  color: #F64744;
  border: none;
}

input[type="checkbox"]:checked + .task__p {
  text-decoration: line-through;
}


@media (max-width: 420px) {

  .tasks__label {
    display: flex;
    flex-direction: column;
    margin-bottom: .6em;
  }

  .tasks__input {
    margin-top: .6em;
  }

}
